# 忽略所有.class文件

# 忽略build目录及其内容
/node_modules
/unpackage

# 忽略特定文件

# 例外规则（保留Debug目录下的important.txt）
.hbuilderx/launch/h5.json
.hbuilderx/project.json
plugins/iconify.js.backup
plugins/iconify.js.backup3
